<script setup lang="ts">
import { useEmployeeStore } from "@/stores/employee";
import type Employee from "@/Types/Employee";
import { mdiDeleteOutline, mdiNoteEditOutline, mdiPlus } from "@mdi/js";
import { onMounted, ref } from "vue";
import { useCheckinoutStore } from "@/stores/checkinout";
import { useSummarySalaryStore } from "@/stores/summarysalary";
import { useMaterialStore } from "@/stores/material";

const MaterialStore = useMaterialStore();

const addNew = () => {
  MaterialStore.dialog = true;
};

const check = () => {
  MaterialStore.dialogCheck = true;
};
onMounted(async () => {
  await MaterialStore.getMaterials();
});
const deleteMaterial = (index: number): void => {
  MaterialStore.deleteMaterial(index);
};
</script>
<template>
  <v-container fluid>
    <v-row>
      <v-col>
        <v-btn
          :prepend-icon="mdiPlus"
          class="ml-6 mt-2 rounded-xl botton"
          @click="addNew"
          >Add</v-btn
        >
        <v-btn class="ml-6 mt-2 rounded-xl botton" @click="check"
          >Check Material</v-btn
        >
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-container>
          <v-row>
            <v-col cols="12">
              <v-card class="mt-n1 overflow-y-auto rounded-xl" width="auto">
                <v-table
                  class="border rounded-xl overflow-auto"
                  height="720px"
                  theme="dark"
                >
                  <thead>
                    <tr>
                      <th class="text-center">ลำดับ</th>
                      <th class="text-center">ชื่อ</th>
                      <th class="text-center">ปริมาณ/ถุง</th>
                      <th class="text-center">จำนวน</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      v-for="item of MaterialStore.stockList"
                      :key="item.id"
                      class="text-center table-width"
                    >
                      <td>{{ item.id }}</td>
                      <td>{{ item.name }}</td>
                      <td>{{ item.unit }}</td>
                      <td>{{ item.quantity }}</td>

                      <v-btn
                        :prepend-icon="mdiDeleteOutline"
                        variant="text"
                        class="botton-2 rounded-xl"
                        size="60"
                        @click="deleteMaterial(item.id!)"
                      ></v-btn>
                    </tr>
                  </tbody>
                </v-table>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>
<style scoped>
.container-width {
  max-width: 800px;
}
.table-width {
  max-width: 600px;
}

.botton {
  background-color: #c19277;
  color: white;
  font-weight: bold;
}

.botton:hover {
  background-color: #212121;
  color: #c19277;
}

.botton-2:hover {
  background-color: darkred;
  color: black;
}
</style>
