<template>
  <v-app-bar class="bar-backG">
    <v-row
      ><v-col
        ><v-img
          class="ml-4"
          :aspect-ratio="1"
          :width="40"
          src="..\public\dCoffeeLogo.PNG"
          cover
        ></v-img> </v-col
      ><v-col cols="11"><p class="text mt-1 ml-n15">D-Coffee</p></v-col></v-row
    ></v-app-bar
  >
</template>
<style scoped>
.bar-backG {
  background-color: #212121;
}
.text {
  color: white;
  font-size: x-large;
  font-weight: bold;
}
</style>
