<script setup lang="ts">
import { ref } from "vue";
import { useEmployeeStore } from "@/stores/employee";
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);
const employeeStore = useEmployeeStore();

const save = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    employeeStore.saveEmployee();
  }
};

const clear = () => {
  employeeStore.dialog = false;
  employeeStore.clear();
};
</script>

<template>
  <v-row justify="center">
    <v-dialog
      v-model="employeeStore.dialog"
      persistent
      width="1024"
      theme="dark"
    >
      <v-card class="rounded-xl">
        <v-card-title class="left-justify">
          <span class="text-h5">เพิ่มข้อมูลพนักงาน</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col cols="12">
                  <!-- <v-text-field
                        label="รหัส User"
                        v-model="employeeStore.editedEmployee.codeEm"
                        required
                        :rules="[
                          (v) => !!v || 'รหัส User ไม่เป็นช่องว่าง',
                          (v) =>
                            v.length === 6 ||
                            'รหัส User จะต้องมีขนาดเท่ากับ 6 ตัวอักษร',
                        ]"
                      ></v-text-field> -->
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Firstname-Lastname"
                    v-model="employeeStore.editedEmployee.name"
                    required
                    :rules="[
                      (v) => !!v || 'Firstname-Lastname ไม่เป็นช่องว่าง',
                      (v) =>
                        v.length > 10 ||
                        'Firstname-Lastname จะต้องมีขนาดมากกว่า 10 ตัวอักษร',
                    ]"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="">
                  <v-text-field
                    label="เบอร์โทร"
                    v-model="employeeStore.editedEmployee.phone"
                    persistent-hint
                    required
                    type="number"
                    :rules="[
                      (v) =>
                        !!v || 'เบอร์โทร ไม่เป็นช่องว่างและเป็นตัวเลขเท่านั้น',
                      (v) =>
                        v.length === 10 ||
                        'เบอร์โทร จะต้องมีขนาดเท่ากับ 10 ตัวอักษร',
                    ]"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="">
                  <v-select
                    :items="['ผู้จัดการ', 'พนักงาน', 'พาร์ทไทม์']"
                    label="ตำแหน่ง"
                    v-model="employeeStore.editedEmployee.position"
                    required
                    :rules="[(v) => !!v || 'โปรดเลือกตำแหน่ง']"
                  ></v-select>
                </v-col>
                <v-col cols="12"> </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Email"
                    v-model="employeeStore.editedEmployee.email"
                    required
                    :rules="[
                      (v) => !!v || 'Email ไม่เป็นช่องว่าง',
                      // (v) =>
                      //   /^\\w+([.-]?\\w+)*@\\w+([.-]?\\w+)*(\\.\\w{2,3})+$/.test(
                      //     v
                      //   ) || 'Email ไม่ถูกต้อง',
                    ]"
                  ></v-text-field>
                </v-col>

                <v-col cols="12">
                  <v-text-field
                    label="อัตราค่าจ้าง/รายชั่วโมง"
                    v-model="employeeStore.editedEmployee.hourly_wage"
                    required
                    :rules="[
                      (v) => !!v || 'อัตราค่าจ้าง ไม่เป็นช่องว่าง',
                      (v) =>
                        (v && parseFloat(v) > 0) || 'อัตราค่าจ้างต้องมากกว่า 0',
                    ]"
                  ></v-text-field>
                </v-col>

                <v-col cols="12">
                  <v-text-field
                    label="ที่อยู่"
                    v-model="employeeStore.editedEmployee.address"
                    required
                    :rules="[
                      (v) => !!v || 'ที่อยู่ ไม่เป็นช่องว่าง',
                      (v) => v.length > 5 || 'ที่อยู่ต้องมีมากกว่า 5 ตัวอักษร',
                    ]"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="clear">
            Close
          </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="save">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
