<script setup lang="ts">
import { ref } from "vue";
import type { VForm } from "vuetify/components";
import { useSummarySalaryStore } from "@/stores/summarysalary";
import { useCheckinoutStore } from "@/stores/checkinout";

const form = ref<VForm | null>(null);
const summarysalaryStore = useSummarySalaryStore();
const checkinoutStore = useCheckinoutStore();
const clear = () => {
  summarysalaryStore.dialogsum = false;
};
const close = () => {
  summarysalaryStore.dialogsalary = false;
};
const salary = () => {
  summarysalaryStore.dialogsalary = true;
};
const save = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    salary();
  }
};
</script>

<template>
  <v-row justify="center">
    <v-dialog
      v-model="summarysalaryStore.dialogsum"
      persistent
      width="1024"
      theme="dark"
    >
      <v-card class="rounded-xl">
        <v-card-title class="left-justify">
          <span class="text-h5">สรุปเงินเดือน</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    label="Email"
                    v-model="checkinoutStore.editedCheckInOut.email"
                    required
                    :rules="[
                      (v) => !!v || 'Email ไม่เป็นช่องว่าง',
                      (v) =>
                        v.length >= 5 || 'Email จะต้องมีขนาดมากกว่า 5 ตัวอักษร',
                    ]"
                  ></v-text-field>
                  <v-btn color="blue-darken-1" variant="text" @click="save">
                    ตกลง
                  </v-btn>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="clear">
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
      <v-dialog
        v-model="summarysalaryStore.dialogsalary"
        persistent
        width="1024"
        theme="dark"
      >
        <v-card class="rounded-xl">
          <v-card-title>
            <span
              v-for="item of checkinoutStore.checkinout"
              :key="item.id"
              class="left-justify text-h5"
              title="item.mail"
              >{{ item.email }}</span
            >
          </v-card-title>
          <v-card-text>
            <v-form ref="form">
              <v-container>
                <v-row>
                  <v-col cols="12"> </v-col>
                </v-row>
              </v-container>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue-darken-1" variant="text" @click="close">
              Close
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-dialog>
  </v-row>
</template>
