<script setup lang="ts">
import { useEmployeeStore } from "@/stores/employee";
import type Employee from "@/Types/Employee";
import { mdiDeleteOutline, mdiNoteEditOutline, mdiPlus } from "@mdi/js";
import { onMounted, ref } from "vue";
import { useCheckinoutStore } from "@/stores/checkinout";
import { useSummarySalaryStore } from "@/stores/summarysalary";
const employeeStore = useEmployeeStore();
const checkinoutStore = useCheckinoutStore();
const summarysalaryStore = useSummarySalaryStore();
onMounted(async () => {
  await employeeStore.getEmployees();
});

const deleteEmployee = (index: number): void => {
  employeeStore.deleteEmployee(index);
};

const addNew = () => {
  employeeStore.dialog = true;
};

const addtime = () => {
  checkinoutStore.dialogTime = true;
};

const sumtime = () => {
  summarysalaryStore.dialogsum = true;
};
const editedEmployee = (employee: Employee) => {
  employeeStore.editEmployee(employee);
};
</script>
<template>
  <v-container fluid>
    <v-row>
      <v-col>
        <v-btn
          :prepend-icon="mdiPlus"
          class="ml-6 mt-2 rounded-xl botton"
          @click="addNew"
          >เพิ่มข้อมูลพนักงาน</v-btn
        >
        <v-btn class="ml-6 mt-2 rounded-xl botton" @click="sumtime"
          >สรุปเงินเดือน</v-btn
        >
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-container>
          <v-row>
            <v-col
              cols="3"
              v-for="item of employeeStore.employeeList"
              :key="item.id"
            >
              <v-card theme="dark" height="150px" class="rounded-xl">
                <v-img src=""></v-img>
                <v-card-title>{{ item.id }} {{ item.name }}</v-card-title>
                <v-card-text>
                  {{ item.position }} {{ item.phone }}
                </v-card-text>
                <v-card-actions class="justify-center">
                  <v-btn
                    :prepend-icon="mdiNoteEditOutline"
                    variant="text"
                    class="botton-1 rounded-xl"
                    size="50"
                    @click="editedEmployee(item)"
                  ></v-btn>
                  <v-btn
                    :prepend-icon="mdiDeleteOutline"
                    variant="text"
                    class="botton-2 rounded-xl"
                    size="50"
                    @click="deleteEmployee(item.id!)"
                  ></v-btn
                ></v-card-actions>
              </v-card>
              <!-- <v-card class="mt-n1 overflow-y-auto rounded-xl" width="auto">
                <v-table
                  class="border rounded-xl overflow-auto"
                  height="720px"
                  theme="dark"
                >
                  <thead>
                    <tr>
                      <th class="text-center">ลำดับ</th>
                      <th class="text-center">ชื่อ-นามสกุล</th>
                      <th class="text-center">เบอร์โทร</th>
                      <th class="text-center">ตำแหน่ง</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      v-for="item of employeeStore.employeeList"
                      :key="item.id"
                      class="text-center table-width"
                    >
                      <td>{{ item.id }}</td>
                      <td>{{ item.name }}</td>
                      <td>{{ item.phone }}</td>
                      <td>{{ item.position }}</td>

                      <v-btn
                        :prepend-icon="mdiNoteEditOutline"
                        variant="text"
                        @click="editedEmployee(item)"
                      ></v-btn>
                      <v-btn
                        :prepend-icon="mdiDeleteOutline"
                        variant="text"
                        @click="deleteEmployee(item.id!)"
                      ></v-btn>
                    </tr>
                  </tbody>
                </v-table>
              </v-card> -->
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>
<style scoped>
.container-width {
  max-width: 800px;
}
.table-width {
  max-width: 600px;
}

.botton {
  background-color: #c19277;
  color: white;
  font-weight: bold;
}

.botton:hover {
  background-color: #212121;
  color: #c19277;
}

.botton-1:hover {
  background-color: white;
  color: black;
}

.botton-2:hover {
  background-color: darkred;
  color: black;
}
</style>
