<script setup lang="ts">
import { ref } from "vue";
const search = ref("");
</script>
<template>
  <v-container>
    <v-row>
      <v-col>
        <v-text-field
          class="justify-center"
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
        <v-combobox
          label="Combobox"
          :items="[
            'California',
            'Colorado',
            'Florida',
            'Georgia',
            'Texas',
            'Wyoming',
          ]"
          variant="solo"
        ></v-combobox>
      </v-col>
    </v-row>
  </v-container>
</template>
<style></style>
