<script setup lang="ts">
import { Bar } from "vue-chartjs";
import { onMounted, ref } from "vue";
import { useOrderStore } from "@/stores/order";

const useOrder = useOrderStore();

onMounted(async () => {
  await useOrder.getMonthly();
});

const gMonthly = ref({
  labels: [
    "Jan",
    "Feb",
    "Mar",
    "Apr",
    "May",
    "Jun",
    "Jul",
    "Aug",
    "Sep",
    "Oct",
    "Nov",
    "Dec",
  ],
  datasets: [
    {
      label: "ยอดขายรายเดือน",
      backgroundColor: "#c19277",
      data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], // Initialize an array of 12 zeros
    },
  ],
});

useOrder.month.forEach((sale) => {
  const index = gMonthly.value.labels.findIndex(
    (label) => label === sale.month
  );
  if (index >= 0) {
    gMonthly.value.datasets[0].data[index] = sale.total_amount;
  }
});
const options = ref({
  responsive: true,
  maintainAspectRatio: false,
});
</script>
<template>
  <Bar :data="gMonthly" :options="options"></Bar>
</template>
