<script lang="ts" setup>
import { Bar } from "vue-chartjs";
import {
  Chart as ChartJS,
  Title,
  Tooltip,
  Legend,
  BarElement,
  CategoryScale,
  LinearScale,
} from "chart.js";
import { onMounted, ref } from "vue";
import { useOrderStore } from "@/stores/order";

const useOrder = useOrderStore();

onMounted(async () => {
  await useOrder.getYearly();
});
ChartJS.register(
  CategoryScale,
  LinearScale,
  BarElement,
  Title,
  Tooltip,
  Legend
);

const gYearly = ref({
  labels: ["2018", "2019", "2020", "2021", "2022", "2023"],
  datasets: [
    {
      label: "ยอดขายรายปั",
      backgroundColor: "#c19277",
      data: [0, 0, 0, 0, 0, 0], // Data
    },
  ],
});

useOrder.yearly.forEach((sale) => {
  const index = gYearly.value.labels.findIndex((label) => label === sale.year);
  if (index >= 0) {
    gYearly.value.datasets[0].data[index] = sale.total_amount;
  }
});
const options = ref({
  responsive: true,
  maintainAspectRatio: false,
});
</script>
<template>
  <Bar :data="gYearly" :options="options"></Bar>
</template>
