<script setup lang="ts">
import { useCoffeeStore } from "@/stores/menu";
import { useOrderStore } from "@/stores/order";
import { ref } from "vue";
import { mdiDeleteOutline } from "@mdi/js";
import { useReceiptDetailStore } from "@/stores/receipt_detail";

const coffeeStore = useCoffeeStore();
const useOrder = useOrderStore();
</script>
<template>
  <v-card class="rounded-xl"
    ><v-table
      class="border rounded-xl overflow-auto"
      height="40vh"
      theme="dark"
    >
      <thead>
        <tr>
          <th><p style="font-size: medium; font-weight: bold">รายการ</p></th>
          <th><p style="font-size: medium; font-weight: bold">ประเภท</p></th>
          <th><p style="font-size: medium; font-weight: bold">ราคา</p></th>
          <th><p style="font-size: medium; font-weight: bold">จำนวน</p></th>
          <th></th>
        </tr>
      </thead>
      <tbody v-for="(item, index) of useOrder.orderList" :key="index">
        <tr>
          <td>
            <p style="font-size: medium; font-weight: bold">
              {{ item.product.name }}
            </p>
          </td>
          <td>
            <p style="font-size: medium; font-weight: bold">
              {{ item.product.type }}
            </p>
          </td>
          <td>
            <p style="font-size: medium; font-weight: bold">
              ${{ item.total }}
            </p>
          </td>
          <td class="ml-n10">
            <v-btn
              icon
              size="20"
              class="add-remove-botton"
              @click="useOrder.decrement(index)"
              >-</v-btn
            >

            {{ item.amount }}
            <v-btn
              icon
              size="20"
              class="add-remove-botton"
              @click="useOrder.increment(index)"
              >+</v-btn
            >
          </td>
          <td>
            <v-btn
              icon
              size="30"
              class="x-botton"
              @click="useOrder.deleteProduct(index)"
              >x</v-btn
            >
          </td>
        </tr>
      </tbody>
    </v-table>
  </v-card>
</template>
<style scoped>
.add-remove-botton {
  background-color: #c19277;
  color: white;
  font-size: medium;
  font-weight: bold;
}

.x-botton {
  background-color: #6d9886;
  color: white;
  font-size: medium;
  font-weight: bold;
}

.table-color {
  color: white;
}
</style>
