<script setup lang="ts">
import { ref, computed } from "vue";
import { useCoffeeStore } from "@/stores/menu";
// import MenuList from "./MenuList.vue";
import { useOrderStore } from "@/stores/order";
import { mdiCoffeeOutline, mdiCupcake, mdiHamburger } from "@mdi/js";
import { useReceiptDetailStore } from "@/stores/receipt_detail";
import { onMounted } from "vue";
import { useProductStore } from "@/stores/Product";
const CoffeeStore = useCoffeeStore();
const tab = ref();
const useOrder = useOrderStore();
const useProduct = useProductStore();
const coffeeStore = useCoffeeStore();
const receiptDetail = useReceiptDetailStore();
onMounted(async () => {
  await useProduct.getProducts();
});
// เครื่องดื่ม
const Drinks = computed(() => {
  return useProduct.Products.slice(0, 9).map((item) => {
    return {
      id: item.id,
      name: item.name,
      type: item.type,
      img: item.img,
      price: item.price,
    };
  });
});

// ของหวาน
const Desserts = computed(() => {
  return useProduct.Products.slice(9, 19).map((item) => {
    return {
      id: item.id,
      name: item.name,
      type: item.type,
      img: item.img,
      price: item.price,
    };
  });
});

// อาหารจานหลัก
const MainDish = computed(() => {
  return useProduct.Products.slice(19, 30).map((item) => {
    return {
      id: item.id,
      name: item.name,
      type: item.type,
      img: item.img,
      price: item.price,
    };
  });
});
// const addnew = () => {
//   CoffeeStore.dialog = true;
// };

// const clear = () => {
//   CoffeeStore.dialog = false;
//   CoffeeStore.clear();
// };
</script>
<template>
  <v-row>
    <v-col>
      <v-tabs v-model="tab" fixed-tabs class="rounded-xl tab">
        <v-tab value="one" :prepend-icon="mdiCoffeeOutline"
          ><div>
            <p style="font-size: medium; font-weight: bold">เครื่องดื่ม</p>
          </div></v-tab
        >
        <v-tab value="two" :prepend-icon="mdiCupcake"
          ><div>
            <p style="font-size: medium; font-weight: bold">ของหวาน</p>
          </div></v-tab
        >
        <v-tab value="three" :prepend-icon="mdiHamburger"
          ><div>
            <p style="font-size: medium; font-weight: bold">อาหารจานหลัก</p>
          </div></v-tab
        >
      </v-tabs>
    </v-col>
  </v-row>
  <v-container>
    <v-card
      class="overflow-y-auto rounded-xl"
      height="84vh"
      width="88vh"
      style="background-color: #212121"
    >
      <div>
        <v-window v-model="tab">
          <!-- tab 1 -->
          <v-row class="mx-1"
            ><v-col v-for="item of Drinks" :key="item.id" cols="4">
              <v-window-item value="one">
                <div class="mt-5">
                  <v-card color="" class="rounded-xl menu-backG">
                    <v-img :src="item.img" height="250px" cover></v-img>
                    <v-card-text class="text-center menu-name">{{
                      item.name
                    }}</v-card-text>
                    <v-card-actions class="menu-back-botton">
                      <v-container>
                        <v-row
                          ><v-col>
                            <v-btn
                              block
                              class="rounded-xl mr-n1 menu-botton"
                              @click="useOrder.addProduct(item)"
                              >สั่งสินค้า</v-btn
                            >
                            <!-- 
                            <v-btn
                              outlined
                              class="rounded-xl mr-n1 menu-botton"
                              @click="
                                useOrder.addProduct(item)
                              "
                              >เย็น</v-btn
                            >
                            <v-btn
                              outlined
                              class="rounded-xl menu-botton"
                              @click="
                                useOrder.addProduct(item)
                              "
                              >ปั่น</v-btn
                            > -->
                          </v-col></v-row
                        >
                      </v-container>
                    </v-card-actions>
                  </v-card>
                </div>
              </v-window-item></v-col
            ></v-row
          >
          <!-- tab 2 -->
          <v-row class="mx-1 mt-n15"
            ><v-col v-for="item in Desserts" :key="item.id" cols="4">
              <v-window-item value="two">
                <div>
                  <v-card color="" class="rounded-xl menu-backG">
                    <v-img :src="item.img" height="250px" cover></v-img>
                    <v-card-text class="text-center menu-name">{{
                      item.name
                    }}</v-card-text>
                    <v-card-actions class="menu-back-botton">
                      <v-container>
                        <v-btn
                          outlined
                          class="rounded-xl menu-botton"
                          style="background-color: "
                          @click="useOrder.addProduct(item)"
                          block
                          >สั่งสินค้า</v-btn
                        >
                      </v-container>
                    </v-card-actions>
                  </v-card>
                </div>
              </v-window-item></v-col
            ></v-row
          ><!-- tab 3 -->
          <v-row class="mx-1 mt-n15"
            ><v-col v-for="item in MainDish" :key="item.id" cols="4">
              <v-window-item value="three">
                <div>
                  <v-card color="" class="rounded-xl menu-backG">
                    <v-img :src="item.img" height="250px" cover></v-img>
                    <v-card-text class="text-center menu-name">{{
                      item.name
                    }}</v-card-text>
                    <v-card-actions class="menu-back-botton">
                      <v-btn
                        block
                        outlined
                        class="rounded-xl menu-botton"
                        style="background-color: "
                        @click="useOrder.addProduct(item)"
                        >สั่งสินค้า</v-btn
                      >
                    </v-card-actions>
                  </v-card>
                </div>
              </v-window-item>
            </v-col></v-row
          >
        </v-window>
      </div>
    </v-card>
  </v-container>
</template>
<style scoped>
.menu-botton {
  background-color: #c19277;
  color: white;
  font-weight: bold;
  font-size: large;
}

.menu-botton:hover {
  background-color: #6d9886;
  color: white;
  border-color: #6d9886;
}

.menu-name {
  color: white;
  background-color: #2c3333;
  font-weight: bold;
  font-size: large;
}

.tab {
  background-color: #0f3d3e;
  color: white;
}

.menu-backG {
  background-color: #0f3d3e;
}

.menu-back-botton {
  background-color: white;
}
</style>
