<script setup lang="ts">
import router from "@/router";
import { useCustomerStore } from "@/stores/customer";
import { useMessageStore } from "@/stores/message";
import { useOrderStore } from "@/stores/order";
import { useReceiptDetailStore } from "@/stores/receipt_detail";
import { mdiRouterNetwork } from "@mdi/js";
import { computed, ref } from "vue";
import type { VForm } from "vuetify/lib/components";
import QRCode from "qrcodejs";
const dialogVisible = ref(false);
const receivedCash = ref("");
const change = ref(0);
const name = ref();
const useOrder = useOrderStore();
const receiptDetail = useReceiptDetailStore();
const dialog = ref(false);
const dialogPay = ref(false);
const useCustomer = useCustomerStore();
const form = ref<VForm | null>(null);
const openOrderDialog = () => {
  if (parseFloat(receivedCash.value) === useOrder.sumPrice) {
    dialogVisible.value = true;
  }
};

const OpenorderQR = () => {
  useOrder.openOrderQR();
  dialogVisible.value = false;
};
const calculateChange = () => {
  const cash = parseFloat(receivedCash.value);
  const totalPrice = useOrder.sumPrice;
  if (!isNaN(cash)) {
    change.value = cash - totalPrice;
    if (change.value < 0) {
      // show popup message
      alert("กรุณาตรวจสอบจำนวนเงินที่รับ");
      change.value = 0;
    }
  } else {
    change.value = 0;
  }
};
const save = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    useCustomer.saveCustomer();
  }
  phone.value = useCustomer.editedCustomer.phone;
  dialog.value = false;
};

const clear = () => {
  useCustomer.clear();
  dialog.value = false;
};
const updateCash = () => {
  calculateChange();
};
const cancelOrder = () => {
  change.value = 0;
  receivedCash.value = "";
  useOrder.clearOrder();
};
const phone = ref();
const dialogReciept = ref(false);
const checkMoney = () => {
  if (receivedCash.value == undefined || receivedCash.value == 0) {
    return alert("กรุณาระบุจำนวนเงินที่รับ");
  } else {
    useOrder.openOrder();
  }
};
</script>
<template>
  <v-card
    max-height="100%"
    color=""
    class="rounded-xl"
    height="47vh"
    theme="dark"
    ><v-container class="ml-15 mt-10">
      <!-- <v-row>
          <v-col><v-text-field label="เบอร์โทร" variant="underlined" class="ml-15 bold-text" v-model="phone"
              :rules="[(v) => v.length === 10 || 'ใส่เบอร์โทรให้ครบ']"></v-text-field>
          </v-col>
          <v-col><v-btn class="ml-15 mt-2 rounded-xl accp-botton">ตกลง</v-btn></v-col>
      </v-row> -->
      <div>
        <!-- <v-row v-if="useCustomer.checkPhone(phone)">
          <v-col class="bold-text" cols="3"> ชื่อสมาชิก : </v-col>
          <v-col class="bold-text" cols="4">{{
            useCustomer.checkPhone(phone)?.name
          }}</v-col>
        </v-row> -->
        <v-row>
          <v-col class="bold-text">ราคาสุทธิ</v-col>
          <v-col class="bold-text">{{ useOrder.sumPrice }}</v-col>
          <v-col class="bold-text">บาท</v-col></v-row
        >
        <!-- <v-row v-if="useCustomer.checkPhone(phone)">
        <v-col class="bold-text">ส่วนลดสุทธิ</v-col>
        <v-col class="bold-text"> {{ discountPrice }}</v-col>
        <v-col class="bold-text">บาท</v-col></v-row>
      <v-row v-if="!useCustomer.checkPhone(phone)">
        <v-col class="bold-text">ส่วนลดสุทธิ</v-col>
        <v-col class="bold-text"> {{ discountPrice }}</v-col>
          <v-col class="bold-text">บาท</v-col></v-row> -->
        <!-- <v-row class="mt-n5">
            <v-col class="mt-5 bold-text">รับเงิน</v-col>
            <v-col>
              <v-text-field
                  variant="underlined"
                class="bold-text"
                  v-model="receivedCash"
                  style="width: 50px"
                ></v-text-field>
              </v-col>
              <v-col class="mt-2">
                <v-btn class="rounded-xl accp-botton" @click="updateCash"
                  >ตกลง</v-btn
                  >
              </v-col>
              </v-row> -->
        <v-row>
          <v-col cols="" class="ml-n4">
            <v-card-text class="bold-text mt-2">รับเงินมา</v-card-text>
          </v-col>
          <v-col cols="">
            <v-text-field
              variant="underlined"
              class="bold-text"
              v-model="receivedCash"
              style="width: "
            ></v-text-field>
          </v-col>
          <v-col>
            <v-btn class="accp-botton rounded-xl" @click="calculateChange()"
              >ตกลง</v-btn
            >
          </v-col>
        </v-row>
        <v-row class="">
          <v-col class="bold-text">เงินทอน</v-col>
          <v-col class="bold-text">{{ change }}</v-col>
          <v-col class="bold-text">บาท</v-col>
        </v-row>

        <v-container fluid class="mt-5">
          <v-row>
            <v-col cols="2">
              <p class="bold-text">วิธีการชำระเงิน :</p>
            </v-col>
            <!-- ปุ่มชำระเงิน -->
            <v-col cols="4">
              <v-btn
                block
                height="7vh"
                class="rounded-xl paid-botton"
                @click="checkMoney()"
                ><v-img
                  :width="40"
                  cover
                  class="mr-1"
                  src="dollar.png"
                  @click="cancelOrder()"
                ></v-img
                >เงินสด</v-btn
              >
            </v-col>
            <v-col cols="4">
              <v-btn
                block
                height="7vh"
                class="rounded-xl paid-botton"
                @click="openOrderDialog()"
                ><v-img
                  :width="40"
                  cover
                  src="qr.png"
                  class="mr-1"
                  @click="cancelOrder()"
                ></v-img
                >QR Code</v-btn
              >
            </v-col>
            <v-dialog v-model="dialogVisible">
              <v-container>
                <v-card width="70vh" class="ma-auto">
                  <v-card-title class="bold-text"
                    >Scan this QR code to pay</v-card-title
                  >
                  <v-card-text>
                    <v-img
                      :width="1000"
                      cover
                      src="frame.png"
                      class="mr-1"
                      @click="cancelOrder()"
                    ></v-img>
                  </v-card-text>
                  <v-card-actions>
                    <v-btn class="paid-botton" @click="OpenorderQR()"
                      >สั่งซื้อ</v-btn
                    >
                    <v-btn class="cancel-botton" @click="dialogVisible = false"
                      >ปิด</v-btn
                    >
                  </v-card-actions>
                </v-card>
              </v-container>
            </v-dialog>
            <!-- <v-dialog v-model="dialogPay" dialog:false width="30vh">
                  <v-card class="paid-dialog">

                    <v-row>
                      <v-col>
                        <v-card-actions>
                          <v-btn color="green" @click="(dialogPay = false), useOrder.openOrder()">ตกลง</v-btn>
                          <v-btn color="red" @click="(dialogPay = false), cancelOrder()">ยกเลิก</v-btn>
                        </v-card-actions>
                      </v-col>
                    </v-row> -->
            <!-- <v-card-actions>
                        <v-container>
                          <v-row>
                            <v-col>
                              <v-btn
                                color="red"
                                block
                                @click="(dialogPay = false), cancelOrder()"
                                >ยกเลิก</v-btn
                              ></v-col
                            >
                          </v-row>
                        </v-container>
                      </v-card-actions> -->
            <!-- </v-card>
                </v-dialog> -->
          </v-row>
          <div class="ml-15">
            <v-row class="mt-n3 ml-15">
              <!-- ปุ่มยกเลิก -->
              <v-col cols="3"
                ><v-btn
                  block
                  class="rounded-xl cancel-botton"
                  @click="cancelOrder()"
                  >ยกเลิก</v-btn
                ></v-col
              >
              <!-- ปุ่มสมัครสมาชิก -->
              <v-col cols="3">
                <v-btn
                  block
                  class="rounded-xl reg-botton"
                  @click="dialog = true"
                >
                  สมัครสมาชิก</v-btn
                >
                <v-dialog v-model="dialog">
                  <v-card width="600px" class="mx-auto">
                    <v-card-title
                      primary-title
                      class="text-center text-h6 font-weight-bold"
                    >
                      สมัครสมาชิก
                    </v-card-title>
                    <v-card-text>
                      <v-form ref="form">
                        <v-text-field
                          label="ชื่อ"
                          v-model="useCustomer.editedCustomer.name"
                          :rules="[(v) => !!v || 'กรุณาใส่ชื่อจริง']"
                        ></v-text-field>
                        <v-text-field
                          label="เบอร์โทร"
                          v-model="useCustomer.editedCustomer.phone"
                          :rules="[
                            (v) => !!v || 'กรุณาใส่เบอร์โทร',
                            (v) => v.length === 10 || 'ใส่เบอร์โทรให้ครบ',
                          ]"
                        ></v-text-field>
                      </v-form>
                    </v-card-text>
                    <v-card-actions class="justify-center">
                      <v-btn color="success" @click="save">ตกลง</v-btn>
                      <v-btn color="error" @click="dialog = false"
                        >ยกเลิก</v-btn
                      >
                    </v-card-actions>
                  </v-card>
                </v-dialog></v-col
              >

              <!-- ปุ่มปริ้นใบเสร็จ -->
              <v-col cols="4"
                ><v-btn
                  block
                  class="rounded-xl rec-botton"
                  @click="dialogReciept = true"
                >
                  ปริ้นใบเสร็จ</v-btn
                ><v-dialog v-model="dialogReciept" dialog:false width="auto">
                  <v-card>
                    <v-card-text> ปริ้นใบเสร็จ </v-card-text>
                    <v-card-actions>
                      <v-btn
                        color="primary"
                        block
                        @click="dialogReciept = false"
                        >ปิด</v-btn
                      >
                    </v-card-actions>
                  </v-card></v-dialog
                ></v-col
              >
              <v-col class="mb-n3"></v-col>
            </v-row>
          </div>
        </v-container>
      </div>
    </v-container>
  </v-card>
</template>
<style scoped>
.accp-botton {
  background-color: white;
  color: black;
  font-size: large;
  font-weight: bold;
}

.accp-botton:hover {
  background-color: #212121;
  color: white;
}

.paid-botton {
  background-color: #6d9886;
  color: white;
  font-size: large;
  font-weight: bold;
}

.cancel-botton {
  background-color: darkred;
  color: white;
  font-size: large;
  font-weight: bold;
}

.reg-botton {
  background-color: white;
  color: black;
  font-size: large;
  font-weight: bold;
}

.rec-botton {
  background-color: #c19277;
  color: white;
  font-size: large;
  font-weight: bold;
}

.paid-botton:hover {
  background-color: #212121;
  color: #6d9886;
}

.cancel-botton:hover {
  background-color: #212121;
  color: darkred;
}

.reg-botton:hover {
  background-color: #212121;
  color: white;
}

.rec-botton:hover {
  background-color: #212121;
  color: #c19277;
}

.bold-text {
  font-size: large;
  font-weight: bold;
}

.paid-dialog {
  /* width: 1200px;
  height: 500px; */
}

.paid-cash-botton {
  height: 400px;
}
</style>
