<script setup lang="ts">
import ListCustomer from "./customer/ListCustomer.vue";
import SearchCustomer from "./customer/SearchCustomer.vue";
import CustomerDialog from "./customer/CustomerDialog.vue";
</script>
<template>
  <v-layout class="backG">
    <v-container>
      <v-row>
        <search-customer />
      </v-row>
      <v-row> <list-customer /><CustomerDialog /> </v-row>
    </v-container>
  </v-layout>
</template>
<style scoped>
.backG {
  background-color: #6d9886;
  height: 93vh;
}
</style>
