<script setup lang="ts">
import gYear from "@/components/charts/gYear.vue";
import gMonth from "@/components/charts/gMonth.vue";
import { useOrderStore } from "@/stores/order";
import { onMounted } from "vue";
const useOrder = useOrderStore();
onMounted(async () => {
  await useOrder.getOrderItem_info_DESC();
  await useOrder.getOrderItem_info_ASC();
});
</script>

<template>
  <v-layout class="backG">
    <v-container fluid>
      <main>
        <v-container fluid>
          <v-row>
            <v-col class="">
              <div>
                <v-card width="90vh" height="43vh" class="rounded-xl card">
                  <gMonth
                /></v-card>
              </div>
              <div>
                <v-card width="90vh" height="43vh" class="rounded-xl mt-6 card">
                  <gYear />
                </v-card>
              </div>
            </v-col>

            <v-col>
              <v-card
                height="43vh"
                width="auto"
                class="rounded-xl overflow-y-auto mb-5"
                theme="dark"
              >
                <v-table>
                  <thead>
                    <tr>
                      <td class="text-center" colspan="2">สินค้าขายดี</td>
                    </tr>
                  </thead>
                  <tbody v-for="(item, index) of useOrder.best" :key="index">
                    <tr>
                      <td>
                        {{ item.name }}
                      </td>
                      <td>
                        {{ item.total_amount }}
                      </td>
                    </tr>
                  </tbody>
                </v-table>
              </v-card>

              <v-card
                height="42vh"
                width="auto"
                class="rounded-xl overflow-y-auto mb-5"
                theme="dark"
              >
                <v-table>
                  <thead>
                    <tr>
                      <td class="text-center" colspan="2">สินค้าขายไม่ดี</td>
                    </tr>
                  </thead>
                  <tbody v-for="(item, index) of useOrder.worst" :key="index">
                    <tr>
                      <td>{{ item.name }}</td>
                      <td>{{ item.total_amount }}</td>
                    </tr>
                  </tbody>
                </v-table>
              </v-card>
            </v-col>
          </v-row></v-container
        >
      </main>
    </v-container>
  </v-layout>
</template>
<style scoped>
.backG {
  background-color: #6d9886;
  height: 93vh;
}

.card {
  background-color: #212121;
  color: white;
}
</style>
