<script setup lang="ts">
import ProductList from "./Stock/ProductList.vue";
import ProductDialogAdd from "./Stock/ProductDialogAdd.vue";
import ProductDialogCheck from "./Stock/ProductDialogCheck.vue";
import CheckProduct from "./Stock/CheckProduct.vue";
</script>
<template>
  <v-layout class="backG">
    <v-container>
      <v-row><ProductDialogCheck /><ProductDialogAdd /><ProductList /></v-row>
    </v-container>
  </v-layout>
  <!-- <v-layout class="backG">
    <v-row class="ma-1">
      <v-col class="mt-6">
        <ProductDialogAdd />
        <ProductDialogCheck />
        <ProductList />
      </v-col>
      <v-col>
        <CheckProduct />
        <PaymentViewVue class="mt-5" /> </v-col
    ></v-row>
  </v-layout> -->
</template>
<style scoped>
.backG {
  background-color: #6d9886;
  height: 93vh;
}
</style>
