<script setup lang="ts"></script>

<template>
  <v-app>
    <v-main class="bg-blue-grey-darken-2 pa-16 bg-">
      <v-card width="600px" class="mx-auto" color="#7C4B2A">
        <v-card-title
          primary-title
          class="text-center text-h6 font-weight-bold text-color#ffe1cc"
        >
          วิธีการชำระเงิน
        </v-card-title>
        <v-img
          class="mx-auto"
          max-height="250"
          max-width="250"
          src="https://cdn-icons-png.flaticon.com/512/2704/2704312.png"
        ></v-img>
        <v-card-actions class="justify-center">
          <v-btn>เงินสด</v-btn>
        </v-card-actions>
      </v-card>
    </v-main>
  </v-app>
</template>
<style scoped>
button {
  background-color: #311400;
  color: #ffe1cc;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.v-card-title {
  color: #ffe1cc;
}
</style>
