<script setup lang="ts">
import { useProductStore } from "@/stores/Product";
import { useOrderStore } from "@/stores/order";
import { mdiDeleteOutline, mdiNoteEditOutline, mdiInformation } from "@mdi/js";
import { onMounted, ref } from "vue";
const orderStore = useOrderStore();
const productStore = useProductStore();
onMounted(async () => {
  await orderStore.getOrders();
  await productStore.getProducts();
});
// const info = () => {
//   orderStore.dialog = true;
// };

// const DelOrder = (index: number): void => {
//   orderStore.DelOrder(index);
// };
</script>
<template>
  <v-container fluid>
    <v-row>
      <v-col> </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-container>
          <v-row>
            <v-col
              cols="3"
              v-for="(item, index) of orderStore.orders"
              :key="index"
            >
              <v-card theme="dark" height="35vh" class="rounded-xl">
                <v-card-title>ID: {{ item.id }}</v-card-title>
                

                <v-card-text
                  ><p class="mb-3">
                <ul>
                  <li
                    v-for="(orderItem, index) in item.orderItems"
                    :key="index"
                  >
                    {{ orderItem.name }} (จำนวน: {{ orderItem.amount }})
                  </li>
                </ul></p>
                <v-divider class="mb-3"></v-divider>
                  <p>จำนวน : {{ item.amount }} ชิ้น</p>
                  <p>ราคารวม : {{ item.total }} บาท</p>
                  วิธีการชำระเงิน : {{ item.payment }}</v-card-text
                >
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>
<style scoped>
.container-width {
  max-width: 800px;
}
.table-width {
  max-width: 600px;
}

.botton {
  background-color: #c19277;
  color: white;
  font-weight: bold;
}

.botton:hover {
  background-color: #212121;
  color: #c19277;
}
</style>
