<script setup lang="ts">
import { useCustomerStore } from "@/stores/customer";
import { ref } from "vue";
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);
const customerStore = useCustomerStore();

const save = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    customerStore.saveCustomer();
  }
};

const clear = () => {
  customerStore.dialog = false;
  customerStore.clear();
};
</script>
<template>
  <v-row justify="center">
    <v-dialog v-model="customerStore.dialog" persistent theme="dark">
      <v-card class="rounded-xl">
        <v-card-title>
          <span class="text-h5">เพิ่มข้อมูลลูกค้า</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col cols="12"> </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="ชื่อ-นามสกุล"
                    v-model="customerStore.editedCustomer.name"
                    required
                    :rules="[
                      (v) => !!v || 'ชื่อ-นามสกุล ไม่เป็นช่องว่าง',
                      (v) =>
                        v.length >= 10 ||
                        'ชื่อ-นามสกุล จะต้องมีขนาดเท่ากับ 10 ตัวอักษร',
                    ]"
                  >
                  </v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="เบอร์โทร"
                    v-model="customerStore.editedCustomer.phone"
                    required
                    :rules="[
                      (v) => !!v || 'เบอร์โทร ไม่เป็นช่องว่าง',
                      (v) =>
                        v.length === 10 ||
                        'เบอร์โทร จะต้องมีขนาดเท่ากับ 10 ตัวอักษร',
                    ]"
                  >
                  </v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="แต้ม"
                    v-model="customerStore.editedCustomer.points"
                    required
                    :rules="[(v) => !!v || 'แต้ม ไม่เป็นช่องว่าง']"
                  >
                  </v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="clear">
            Close
          </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="save">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
