<script setup lang="ts">
import { ref } from "vue";
import { mdiPlus } from "@mdi/js";
import { useCustomerStore } from "@/stores/customer";
const search = ref("");
const customerStore = useCustomerStore();
const addNew = () => {
  customerStore.dialog = true;
};
</script>
<template>
  <v-btn
    class="mt-6 ml-10 rounded-xl botton"
    :prepend-icon="mdiPlus"
    @click="addNew"
    >เพิ่มข้อมูลลูกค้า</v-btn
  >
</template>
<style scoped>
.botton {
  background-color: #c19277;
  color: white;
  font-weight: bold;
}

.botton:hover {
  background-color: #212121;
  color: #c19277;
}
</style>
