<script setup lang="ts">
import { useUserStore } from "@/stores/user";
import type User from "@/Types/User";
import { mdiNoteEditOutline, mdiDeleteOutline, mdiPlus } from "@mdi/js";
import { onMounted } from "vue";
const userStore = useUserStore();

onMounted(async () => {
  await userStore.getUsers();
});

const deleteUser = (index: number): void => {
  userStore.deleteUser(index);
};

const addNewUser = () => {
  userStore.dialog = true;
};
</script>
<template>
  <v-container fluid>
    <v-row>
      <v-col cols="3" offset="9">
        <v-btn
          class="rounded-xl botton"
          :prepend-icon="mdiPlus"
          @click="addNewUser"
          >เพิ่มข้อมูลผู้ใช้งาน</v-btn
        >
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-card class="mt-n1 overflow-y-auto rounded-xl" width="auto">
          <v-table
            class="border rounded-xl overflow-auto"
            height="650px"
            theme="dark"
          >
            <thead>
              <tr>
                <th>ชื่อ</th>
                <th>อีเมล</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="item of userStore.users"
                :key="item.id"
                class="text-left table-width"
              >
                <td>{{ item.name }}</td>
                <td>{{ item.email }}</td>
                <td>
                  <v-btn
                    :prepend-icon="mdiNoteEditOutline"
                    variant="text"
                    class="botton-1 rounded-xl"
                    size="45"
                    @click="userStore.editUser(item)"
                  ></v-btn>

                  <v-btn
                    :prepend-icon="mdiDeleteOutline"
                    variant="text"
                    class="botton-2 rounded-xl"
                    size="45"
                    @click="deleteUser(item.id!)"
                  ></v-btn>
                </td>
              </tr>
            </tbody>
          </v-table>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<style scoped>
.botton {
  background-color: #c19277;
  color: white;
  font-weight: bold;
}

.botton:hover {
  background-color: #212121;
  color: #c19277;
}

.botton-1:hover {
  background-color: white;
  color: black;
}

.botton-2:hover {
  background-color: darkred;
  color: black;
}
</style>
