<script setup lang="ts">
import { ref } from "vue";
import { useUserStore } from "@/stores/user";
import type { VForm } from "vuetify/components";
const userStore = useUserStore();
const form = ref<VForm | null>(null);

async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await userStore.saveUser();
  }
}

const clear = () => {
  userStore.dialog = false;
  userStore.clear();
};
</script>
<template>
  <v-row justify="center">
    <v-dialog v-model="userStore.dialog" persistent theme="dark">
      <v-card class="rounded-xl">
        <v-card-title>
          <span class="text-h5">เพิ่มข้อมูลผู้ใช้งาน</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    label="Email*"
                    required
                    v-model="userStore.editedUser.email"
                    :rules="[
                      (v) => !!v || 'Email ไม่เป็นช่องว่าง',
                      (v) =>
                        v.length >= 5 || 'Email จะต้องมีขนาดมากกว่า 5 ตัวอักษร',
                    ]"
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Name"
                    v-model="userStore.editedUser.name"
                    :rules="[
                      (v) => !!v || 'Name ไม่เป็นช่องว่าง',
                      (v) =>
                        v.length >= 5 || 'Name จะต้องมีขนาดมากกว่า 5 ตัวอักษร',
                    ]"
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Password*"
                    type="password"
                    v-model="userStore.editedUser.password"
                    required
                    :rules="[
                      (v) => !!v || 'Password ไม่เป็นช่องว่าง',
                      (v) =>
                        v.length >= 8 ||
                        'Password จะต้องมีขนาดมากกว่า 8 ตัวอักษร ',
                      (v) =>
                        /^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/.test(
                          v
                        ) ||
                        'Password จะต้องมี ตัวอักษร เลขใหญ่ และตัวประกอบ special Charactor',
                    ]"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="clear">
            Close
          </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="save">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<style scoped></style>
