<script setup lang="ts">
import MainLayout from "@/components/layouts/MainLayout.vue";
import FullLayout from "@/components/layouts/FullLayout.vue";
</script>

<template>
  <component
    :is="$route.meta.layout === 'MainLayout' ? MainLayout : FullLayout"
  ></component>
</template>

<style scoped></style>
