<script setup lang="ts">
import { ref } from "vue";
import { useEmployeeStore } from "@/stores/employee";
import type { VForm } from "vuetify/components";
import { useProductStore } from "@/stores/Product";
const form = ref<VForm | null>(null);
const ProductStore = useProductStore();

const save = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    //MaterialStore.saveMaterial();
  }
};

const clear = () => {
  ProductStore.dialogCheck = false;
  ProductStore.clear();
};
</script>

<template>
  <v-row justify="center">
    <v-dialog
      v-model="ProductStore.dialogCheck"
      persistent
      width="1024"
      theme="dark"
    >
      <v-card class="rounded-xl">
        <v-card-title class="left-justify">
          <span class="text-h5">เช็คสินค้า</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-autocomplete
                    return-object
                    v-model="ProductStore.temp"
                    label="เช็คสินค้า"
                    item-title="name"
                    :items="ProductStore.Products"
                  ></v-autocomplete>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="price"
                    v-model="ProductStore.editedProduct.price"
                    required
                    :rules="[
                      (v) => !!v || 'price ไม่เป็นช่องว่าง',
                      (v) => v.length > 5 || 'price จะต้องมีขนาดมากกว่า 1',
                    ]"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="clear">
            Close
          </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="save">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
