<script setup lang="ts">
import { ref } from "vue";
import type { VForm } from "vuetify/components";
import { useMaterialStore } from "@/stores/material";
import { useProductStore } from "@/stores/Product";
const form = ref<VForm | null>(null);
const MaterialStore = useMaterialStore();
const ProductStore = useProductStore();

const save = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    ProductStore.saveProduct();
  }
};

const clear = () => {
  ProductStore.dialog = false;
  ProductStore.clear();
};
</script>

<template>
  <v-row justify="center">
    <v-dialog
      v-model="ProductStore.dialog"
      persistent
      width="1024"
      theme="dark"
    >
      <v-card class="rounded-xl">
        <v-card-title class="left-justify">
          <span class="text-h5">เพิ่มสินค้า</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col cols="12">
                  <!-- <v-text-field
                        label="รหัส User"
                        v-model="employeeStore.editedEmployee.codeEm"
                        required
                        :rules="[
                          (v) => !!v || 'รหัส User ไม่เป็นช่องว่าง',
                          (v) =>
                            v.length === 6 ||
                            'รหัส User จะต้องมีขนาดเท่ากับ 6 ตัวอักษร',
                        ]"
                      ></v-text-field> -->
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Name"
                    v-model="ProductStore.editedProduct.name"
                    required
                    :rules="[
                      (v) => !!v || 'Name ไม่เป็นช่องว่าง',
                      (v) =>
                        v.length > 3 || 'Name จะต้องมีขนาดมากกว่า 3 ตัวอักษร',
                    ]"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-col cols="12" sm="6" md="">
                <v-select
                  :items="['Drinks', 'Desert', 'MainDish']"
                  label="ประเภท"
                  v-model="ProductStore.editedProduct.type"
                  required
                  :rules="[(v) => !!v || 'โปรดระบุประภท']"
                ></v-select>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="ราคา"
                  v-model="ProductStore.editedProduct.price"
                  required
                  :rules="[
                    (v) => !!v || 'ราคาไม่เป็นช่องว่าง',
                    (v) => v.length >= 1 || 'ราคา จะต้องมีขนาดมากกว่า 1 ',
                  ]"
                ></v-text-field>
              </v-col>
            </v-container>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="clear">
            Close
          </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="save">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
